/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ============================
  Full Screen Defaults
  =============================*/

:fullscreen {
  background-color: black;
}

:-webkit-full-screen {
  background-color: black;
}

:-moz-full-screen {
  background-color: black;
}


@font-face {
  font-family: digital;
  src: url(../assets/digital-7.ttf);
}

body {

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: black;
  font-family: digital;
  width: 100%;
  min-height: 100%;
}

button#powerButton {
  background-color: transparent;
  color: #5fd44c;
  border: none;
  outline: none;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 300%;
}


button.switchTurns {
  margin: 2vw auto;
  padding: 3vw;
  height: 3.5vw;
  line-height: 0;
  display: block;
  background-color: transparent;
  border: none;
}

button:focus {
  outline-color: #5fd44c;
  outline-style: solid;
  outline-width: thin;
  -moz-outline-radius: 5px;
}


h1 {
  font-size: 3.5vw;
  text-align: center;
  margin: 0;
  color: #5fd44c;
}


.wordGrid {
  margin-top: 6vw;
  padding: 0;
  height: 0;
  opacity: 0;
}

.wordGrid.expand {
  width: 100%;
  height: 90%;
  justify-content: center;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 3vw;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: height 0.5s ease-out, opacity 0.5s ease-out;
}

.wordGrid li {
  display: flex;
  padding: .5%;
  box-sizing: border-box;
  font-size: 3vw;

  /*make these button so I don't have to fudge this'*/
  width: 19%;
  align-items: center;
  justify-content: center;
  border: green 1px solid;
  border-radius: 5px;
  margin: 3px;
}

.wordGrid li:hover {
  border-color: #5fd44c;
}

.cw.facedown {
  color: #5fd44c;
  background-color: black;
}

.cardType_assassin {
  color: rgba(255, 51, 51, 1);
}


.cardType_player_one{
  /*background-color: rgba(255, 255, 255, .2);*/
  /*color: rgba(255, 255, 255, 1);*/
  color: yellow;
}

.cardType_player_two {
  color: cyan;
}

.cardType_bystander {
  color: rgb(95, 212, 51);
  /*background-color: rgba(95, 212, 51, .2);*/
}

.cardType_player_one.chosen {
  /*background-color: rgba(255, 51, 51, .2);*/
  background-color: rgba(255, 255, 0, .2)
  /*color: black;*/
}

.cardType_player_two.chosen {
  background-color: rgba(0, 255, 255, .25);
}

.cardType_assassin.chosen{
  background-color: rgba(255, 255, 255, .2);
}

.cardType_bystander.chosen {
  background-color: rgba(95, 212, 51, .2);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
